.gradle
.DS_Store
build/
node/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
frontend/node_modules/
frontend/build
src/main/resources/static

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### H2 ###
*.mv.db
*.trace.db
